---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  // {
  //   date: "Octubre 2022 - Diciembre 2022",
  //   title: "Desarrollador Web Fullstack Junior como freelancer",
  //   description:
  //     "Maqueté y desarrollé un sistema web basado en Angular y Laravel para la generación de reportes para entidades educativas.",
  // },
  {
    date: "Febrero 2018 - Julio 2018",
    title: "Desarrollador Web Frontend Trainee en Globant",
    description:
      "Maqueté el diseño de una aplicación web basada en React para la venta y distribución de tickets para parques temáticos.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
