---
import GithubIcon from "./icons/Github.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
---

<footer
  class="rounded-lg mt-4 mb-10 shadow mx-auto bg-black/20 backdrop-blur-lg w-full container lg:max-w-4xl md:max-w-2xl flex justify-center"
>
  <div
    class="w-full max-w-screen-xl md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-blue-200/90"
      >2023 Luis Llanos. Basado en el diseño de <a
        href="https://github.com/midudev"
        target="_blank"
        rel="noopener">midudev</a
      >.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 sm:mt-0 gap-x-4 text-blue-200/90"
    >
      <li>
        <a
          href="https://www.linkedin.com/in/luisllanoslucas/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
        >
          <LinkedInIcon class="size-6" />
        </a>
      </li>
      <li>
        <a
          href="https://github.com/ljllanosl"
          target="_blank"
          rel="noopener"
          class="hover:underline"
        >
          <GithubIcon class="size-6" />
        </a>
      </li>
    </ul>
  </div>
</footer>
