<header class="flex justify-between items-center py-5 w-full mx-auto px-4 xl:w-[1120px]">
  <h1 class="hidden sm:block">Llanos.dev</h1>
  <nav class="hidden sm:flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Acerca de</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
