---
import HtmlIcon from "../components/icons/Html.astro";
import CssIcon from "../components/icons/Css.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import TypeScriptIcon from "../components/icons/TypeScript.astro";
import ReactIcon from "../components/icons/React.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import AngularIcon from "../components/icons/Angular.astro";
import LaravelIcon from "./icons/Laravel.astro"; 
import DotNetIcon from "./icons/DotNet.astro";

const SKILLS = [
  {
    name: "HTML",
    icon: HtmlIcon,
  },
  {
    name: "CSS",
    icon: CssIcon,
  },
  {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  {
    name: "TypeScript",
    icon: TypeScriptIcon,
  },
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Angular",
    icon: AngularIcon,
  },
  {
    name: "Tailwind CSS",
    icon: TailwindIcon,
  },
  {
    name: "Laravel",
    icon: LaravelIcon,
  },
  {
    name: ".NET",
    icon: DotNetIcon,
  },
];

---

<ul class="flex flex-wrap gap-10 items-center justify-center sm:justify-normal">
  {SKILLS.map(({ name, icon: Icon }) => (
    <li class="flex flex-col gap-3 justify-center items-center">
      <Icon class="size-16 transition hover:scale-110" />
      <p class="text-white text-center">{name}</p>
    </li>
  ))}  
</ul>
