---
import HtmlIcon from "../components/icons/Html.astro";
import CssIcon from "../components/icons/Css.astro";
import JavaScriptIcon from "../components/icons/JavaScript.astro";
import TypeScriptIcon from "../components/icons/TypeScript.astro";
import ReactIcon from "../components/icons/React.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";
import AngularIcon from "../components/icons/Angular.astro";
---

<ul class="flex flex-wrap gap-5 items-center">
  <li>
    <HtmlIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <CssIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <JavaScriptIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <TypeScriptIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <ReactIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <AngularIcon class="size-16 transition hover:scale-110" />
  </li>
  <li>
    <TailwindIcon class="size-16 transition hover:scale-110" />
  </li>
</ul>
